div.login {
  display: grid;
  justify-content: space-around;
  align-content: center;

  mat-card {
    margin-top: 30px
  }
}
.example-full-width {
    width: 100%;
  }

  mat-dialog-actions {
    justify-content: space-around;
  }

  