<div class="login">
    <mat-card>
        <mat-card-header>
            <mat-card-content>Don't have an account? Register here!</mat-card-content>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="email" type="email" name="email" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="password" type="password" name="password" required>
                </mat-form-field>
            </form>
            <button mat-flat-button (click)="login()" color="primary">Login</button>
        </mat-card-content>
    </mat-card>
</div>